{% extends 'base.html' %}
{% block page_content %}

    <!-- edit game section -->
    <section id="create-page" class="auth">
        <!-- edit game form -->
              <div class="container">
                <!-- Edit Game paragraph -->
                <h1>Edit Game</h1>
                <form method="POST" action="{% url 'edit game' game.pk %}">
                    {{ form }}
                    {% csrf_token %}

                    <input class="btn submit" type="submit" value="Edit Game">
                </form>
            </div>
    </section>

{% endblock %}